<div>
  <img src="/assets/profile-pic.jpg" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Zard</strong>. I'm a front-end development engineer in Shenzhen, China.
    You can follow me on <a href="https://juejin.cn/user/1390225439328023" target="_blank">JueJin</a>,
    see some of my work on <a href="https://www.github.com/Zard999" target="_blank">GitHub</a>,
    or read more about me on <a href="https://www.pointfree.com" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
