---
import { markdown } from '@astropub/md';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
const fetchAbouts = await fetch('http://42.192.151.130:9003/api/abouts').then(res => res.json());
console.log('fetchAbouts', fetchAbouts.data[0].attributes.content);
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Me</h1>
    <article>
      {async () => await markdown(await fetchAbouts.data[0].attributes.content)}
    </article>
  </div>
</BaseLayout>

<style>
  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    overflow: scroll;
  }
  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
